In [4]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt
import matplotlib.style as style

In [5]:
df1=pd.read_csv("E:/2015.csv")
df11=df1.drop(["Happiness Score","Standard Error", "Region", "Family", "Dystopia Residual"], axis=1)
df111=df11.head()
df111

,Country,Happiness Rank,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Switzerland,1,1.39651,0.94143,0.66557,0.41978,0.29678
1,Iceland,2,1.30232,0.94784,0.62877,0.14145,0.43630
2,Denmark,3,1.32548,0.87464,0.64938,0.48357,0.34139
3,Norway,4,1.45900,0.88521,0.66973,0.36503,0.34699
4,Canada,5,1.32629,0.90563,0.63297,0.32957,0.45811

In [6]:
df2=pd.read_csv('E:/2016.csv')
df22=df2.drop(["Happiness Score","Region", "Lower Confidence Interval", "Upper Confidence Interval", "Family", "Dystopia Residual"], axis=1)
df222=df22.head()
df222

,Country,Happiness Rank,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity
0,Denmark,1,1.44178,0.79504,0.57941,0.44453,0.36171
1,Switzerland,2,1.52733,0.86303,0.58557,0.41203,0.28083
2,Iceland,3,1.42666,0.86733,0.56624,0.14975,0.47678
3,Norway,4,1.57744,0.79579,0.59609,0.35776,0.37895
4,Finland,5,1.40598,0.81091,0.57104,0.41004,0.25492

In [7]:
df3=pd.read_csv('E:/2017.csv')
df33=df3.drop(["Happiness.Score","Whisker.high", "Whisker.low","Family", "Dystopia.Residual"], axis=1)
#lets make table heading proper for 2017
df33=df33.rename(columns={'Happiness.Rank': 'Happiness Rank', 'Economy..GDP.per.Capita.':'Economy (GDP per Capita)' , 'Health..Life.Expectancy.':'Health (Life Expectancy)', 'Trust..Government.Corruption.':'Trust (Government Corruption)',})
df333=df33.head()
df333

,Country,Happiness Rank,Economy (GDP per Capita),Health (Life Expectancy),Freedom,Generosity,Trust (Government Corruption)
0,Norway,1,1.616463,0.796667,0.635423,0.362012,0.315964
1,Denmark,2,1.482383,0.792566,0.626007,0.355280,0.400770
2,Iceland,3,1.480633,0.833552,0.627163,0.475540,0.153527
3,Switzerland,4,1.564980,0.858131,0.620071,0.290549,0.367007
4,Finland,5,1.443572,0.809158,0.617951,0.245483,0.382612

### USING GROUPBY IN PYTHON

#### GROUPING THE DATA ACCORDING TO REGION AND FINDING MEAN OF SOME DATA

##### Mean GDP per capita of 2015

In [8]:
dfa=df1.drop(["Happiness Score","Standard Error", "Family", "Dystopia Residual","Health (Life Expectancy)","Happiness Rank","Freedom","Trust (Government Corruption)","Generosity"], axis=1)
dfA=dfa.groupby('Region')['Economy (GDP per Capita)'].mean()
dfA

Region
Australia and New Zealand          1.291880
Central and Eastern Europe         0.942438
Eastern Asia                       1.151780
Latin America and Caribbean        0.876815
Middle East and Northern Africa    1.066973
North America                      1.360400
Southeastern Asia                  0.789054
Southern Asia                      0.560486
Sub-Saharan Africa                 0.380473
Western Europe                     1.298596
Name: Economy (GDP per Capita), dtype: float64

##### Mean GDP per capita of 2016

In [9]:
dfb=df2.drop(["Happiness Score","Lower Confidence Interval","Upper Confidence Interval","Family", "Dystopia Residual","Health (Life Expectancy)","Happiness Rank","Freedom","Trust (Government Corruption)","Generosity","Dystopia Residual"], axis=1)
dfB=dfb.groupby('Region')['Economy (GDP per Capita)'].mean()
dfB

Region
Australia and New Zealand          1.402545
Central and Eastern Europe         1.047537
Eastern Asia                       1.277312
Latin America and Caribbean        0.993410
Middle East and Northern Africa    1.139323
North America                      1.474055
Southeastern Asia                  0.896381
Southern Asia                      0.660671
Sub-Saharan Africa                 0.474321
Western Europe                     1.417056
Name: Economy (GDP per Capita), dtype: float64

##### Mean life expectancy in 2015

In [10]:
dfc=df1.drop(["Happiness Score","Standard Error", "Family", "Dystopia Residual","Economy (GDP per Capita)","Happiness Rank","Freedom","Trust (Government Corruption)","Generosity"], axis=1)
dfC=dfc.groupby('Region')['Health (Life Expectancy)'].mean()
dfC

Region
Australia and New Zealand          0.919965
Central and Eastern Europe         0.718774
Eastern Asia                       0.877388
Latin America and Caribbean        0.703870
Middle East and Northern Africa    0.705616
North America                      0.883710
Southeastern Asia                  0.677357
Southern Asia                      0.540830
Sub-Saharan Africa                 0.282332
Western Europe                     0.909148
Name: Health (Life Expectancy), dtype: float64

#### Mean life expectancy in 2016

In [11]:
dfd=df2.drop(["Happiness Score","Lower Confidence Interval","Upper Confidence Interval","Family", "Dystopia Residual","Economy (GDP per Capita)","Happiness Rank","Freedom","Trust (Government Corruption)","Generosity","Dystopia Residual"], axis=1)
dfD=dfd.groupby('Region')['Health (Life Expectancy)'].mean()
dfD

Region
Australia and New Zealand          0.841080
Central and Eastern Europe         0.631592
Eastern Asia                       0.806680
Latin America and Caribbean        0.612703
Middle East and Northern Africa    0.616438
North America                      0.803300
Southeastern Asia                  0.561369
Southern Asia                      0.453670
Sub-Saharan Africa                 0.239872
Western Europe                     0.825754
Name: Health (Life Expectancy), dtype: float64

COULD NOT DO THE SAME FOR YEAR 2017 AS THE GIVEN CSV WAS NOT GIVEN ACCORDING TO REGION